<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List Selection</h1>

    <form action="/" method="post">
        <ul>
            <li><input type="checkbox" name="options" value="1"> Comunicacion/Communication</li>
            <li><input type="checkbox" name="options" value="2"> Los meses y las estaciones/The months and the seasons</li>
            <li><input type="checkbox" name="options" value="3"> Los numeros y las fechas/Numbers and dates</li>
            <li><input type="checkbox" name="options" value="4"> Colores/Colors4</li>
        </ul>
    
        <input type="submit" value="Submit">
    </form>
</body>
</html>